In [1]:
import pandas as pd
import random
from NetEmbs import *
def dirty_data(N=2, tax_rates=[0.1, 0.25], types=['OK', 'NaN', 'Zeros', 'VeryLow', 'String', 'Negative', 'VeryBig'], 
               titles=["ID", "FA_Name", "Journal", "Date", "Value"]):
    cur_id = 0
    data = pd.DataFrame(columns=titles)
    for tax in tax_rates:
        for _ in range(N):
            for dirty_type in types:
                # generate amounts
                if dirty_type == "OK":
                    rev = -random.randint(10, 1000)
                    t = rev * tax
                    tr = -(rev + t)
                if dirty_type == "NaN":
                    rev = None
                    t = float('nan')
                    tr = None
                if dirty_type == "Zeros":
                    rev = 0
                    t = 0*tax
                    tr = 0
                if dirty_type == "VeryLow":
                    rev = -2**-1025
                    t = rev*tax
                    tr = -(rev+t)
                if dirty_type == "VeryBig":
                    rev = -2**1022
                    t = rev*tax
                    tr = -(rev+t)
                if dirty_type == "String":
                    rev = "dirty_value"
                    t = -10.0
                    tr = 11.0
                if dirty_type == "Negative":
                    rev = random.randint(10, 1000)
                    t = -rev * tax
                    tr = rev + t
                data = data.append(
                    [pd.Series([cur_id, "Revenue", "Sales ledger", "01/01/2017", rev], index=data.columns),
                     pd.Series([cur_id, "Tax", "Sales ledger", "01/01/2017", t], index=data.columns),
                     pd.Series([cur_id, "Trade Receivables", "Sales ledger", "01/01/2017", tr],
                               index=data.columns)]
                    , ignore_index=True)
                cur_id += 1
    return data
def dirty_dataM(N=2, tax_rates=[0.1, 0.25], types=['OK', 'NaN', 'Zeros', 'VeryLow', 'String', 'Negative', 'VeryBig'], 
               titles=["ID", "FA_Name", "Journal", "Date", "amount", "type"]):
    cur_id = 0
    data = pd.DataFrame(columns=titles)
    for tax in tax_rates:
        for _ in range(N):
            for dirty_type in types:
                # generate amounts
                if dirty_type == "OK":
                    rev = random.randint(10, 1000)
                    t = rev * tax
                    tr = rev + t
                if dirty_type == "NaN":
                    rev = None
                    t = float('nan')
                    tr = None
                if dirty_type == "Zeros":
                    rev = 0
                    t = 0*tax
                    tr = 0
                if dirty_type == "VeryLow":
                    rev = 2**-1025
                    t = rev*tax
                    tr = rev+t
                if dirty_type == "VeryBig":
                    rev = 2**1022
                    t = rev*tax
                    tr = rev+t
                if dirty_type == "String":
                    rev = "dirty_value"
                    t = -10.0
                    tr = 11.0
                if dirty_type == "Negative":
                    rev = random.randint(10, 1000)
                    t = -rev * tax
                    tr = rev + t
                data = data.append(
                    [pd.Series([cur_id, "Revenue", "Sales ledger", "01/01/2017", rev, "credit"], index=data.columns),
                     pd.Series([cur_id, "Tax", "Sales ledger", "01/01/2017", t, "credit"], index=data.columns),
                     pd.Series([cur_id, "Trade Receivables", "Sales ledger", "01/01/2017", tr, "debit"],
                               index=data.columns)]
                    , ignore_index=True)
                cur_id += 1
    return data

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import preprocessing
plt.rcParams["figure.figsize"] = [20,10]
from NetEmbs import *
d = upload_data("Simulation/FSN_Data.db", limit=300)
d.head(4)

In [ ]:
d["Credit"] = -d.loc[d["Value"] < 0.0, "Value"]
d["Debit"] = d.loc[d["Value"] > 0.0, "Value"]

In [2]:
d = dirty_data()
print(d.head(4))
out = prepare_data(d)

  ID            FA_Name       Journal        Date  Value
0  0            Revenue  Sales ledger  01/01/2017   -867
1  0                Tax  Sales ledger  01/01/2017  -86.7
2  0  Trade Receivables  Sales ledger  01/01/2017  953.7
3  1            Revenue  Sales ledger  01/01/2017    NaN
Original shape of DataFrame is  (84, 5)
Deleted all NaNs and Strings values from 'Value' column:  (68, 5)

/Users/lex/anaconda3/envs/DL/lib/python3.6/site-packages/pandas/core/indexing.py:362: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
/Users/lex/anaconda3/envs/DL/lib/python3.6/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [3]:
out

,ID,Signature,FA_Name,Credit,Debit,Journal,Date,Value,from
0,0,"([('Revenue', 0.90909), ('Tax', 0.09091)], [('...",Revenue,0.909091,0.000000,Sales ledger,01/01/2017,-867.00,True
1,0,"([('Revenue', 0.90909), ('Tax', 0.09091)], [('...",Tax,0.090909,0.000000,Sales ledger,01/01/2017,-86.70,True
2,0,"([('Revenue', 0.90909), ('Tax', 0.09091)], [('...",Trade Receivables,0.000000,1.000000,Sales ledger,01/01/2017,953.70,False
3,4,"([('Tax', 1.0)], [('Trade Receivables', 1.0)])",Tax,1.000000,0.000000,Sales ledger,01/01/2017,-10.00,True
4,4,"([('Tax', 1.0)], [('Trade Receivables', 1.0)])",Trade Receivables,0.000000,1.000000,Sales ledger,01/01/2017,11.00,False
5,5,"([('Tax', 1.0)], [('Revenue', 0.52632), ('Trad...",Revenue,0.000000,0.526316,Sales ledger,01/01/2017,668.00,False
6,5,"([('Tax', 1.0)], [('Revenue', 0.52632), ('Trad...",Tax,1.000000,0.000000,Sales ledger,01/01/2017,-66.80,True
7,5,"([('Tax', 1.0)], [('Revenue', 0.52632), ('Trad...",Trade Receivables,0.000000,0.473684,Sales ledger,01/01/2017,601.20,False
8,14,"([('Revenue', 0.8), ('Tax', 0.2)], [('Trade Re...",Revenue,0.800000,0.000000,Sales ledger,01/01/2017,-640.00,True
9,14,"([('Revenue', 0.8), ('Tax', 0.2)], [('Trade Re...",Tax,0.200000,0.000000,Sales ledger,01/01/2017,-160.00,True
10,14,"([('Revenue', 0.8), ('Tax', 0.2)], [('Trade Re...",Trade Receivables,0.000000,1.000000,Sales ledger,01/01/2017,800.00,False
11,19,"([('Tax', 1.0)], [('Revenue', 0.57143), ('Trad...",Revenue,0.000000,0.571429,Sales ledger,01/01/2017,873.00,False
12,19,"([('Tax', 1.0)], [('Revenue', 0.57143), ('Trad...",Tax,1.000000,0.000000,Sales ledger,01/01/2017,-218.25,True
13,19,"([('Tax', 1.0)], [('Revenue', 0.57143), ('Trad...",Trade Receivables,0.000000,0.428571,Sales ledger,01/01/2017,654.75,False

In [4]:
d = dirty_dataM()
d = rename_columns(d, names={"amount": "Value"})
out = prepare_dataMarcel(d)

Original shape of DataFrame is  (84, 6)
Deleted all NaNs and Strings values from 'Value' column:  (68, 6)
Splitting into Credit and Debit columns:  (68, 6)
Before merging FAs columns titles are:  ['ID', 'FA_Name', 'Journal', 'Date', 'Credit', 'Debit']
After merging FAs columns titles are:  ['ID', 'FA_Name', 'Credit', 'Debit', 'Journal', 'Date']  shape is  (68, 6)
After normalization shape of DataFrame is  (56, 7)
Final shape of DataFrame is  (8, 8)

In [5]:
countDirtyData(out, ["Debit", "Credit"])

Strings in numeric columns:  {'Debit': 0, 'Credit': 0}
NaN in numeric columns:  {'Debit': 0, 'Credit': 0}

In [ ]:
def countStrings(df, col=["Value"]):
    output = dict()
    for title in col:
        output[title] = df[title].map(lambda x: 1 if type(x)==str else 0).sum()
    return output
def countNaN(df, col=["Value"]):
    output = dict()
    for title in col:
        output[title] = df[title].isnull().sum()
    return output
def countDirtyData(df, col=["Value"]):
    print("Strings in numeric columns: ", countStrings(df, col))
    print("NaN in numeric columns: ", countNaN(df, col))

In [ ]:
from NetEmbs import *
fsn = FSN()
fsn.build(prepare_data(d, split=False))

In [ ]:
fsn.edges(data=True)

In [ ]:
import pandas as pd
import random
def zerosData(N=2, taxes=[0.06, 0.25], titles=["ID", "FA_Name", "Journal", "Date", "Debit", "Credit"]):
    if taxes is not None:
        tax_rates = taxes
    if N is not None:
        N = 10
    cur_id = 0
    data = pd.DataFrame(columns=titles)
    for tax in tax_rates:
        for _ in range(N):
            # generate amounts
            rev = random.randint(10, 1000)
            t = rev * tax
            tr = rev + t
            data = data.append(
                [pd.Series([cur_id, "Revenue", "Sales ledger", "01/01/2017", 0.0, rev], index=data.columns),
                 pd.Series([cur_id, "Tax", "Sales ledger", "01/01/2017", 0.0, t], index=data.columns),
                 pd.Series([cur_id, "Trade Receivables", "Sales ledger", "01/01/2017", tr, 0.0],
                           index=data.columns)]
                , ignore_index=True)
            cur_id += 1
            data = data.append([pd.Series([cur_id, "Trade Receivables", "Sales ledger", "01/01/2017", 0.0, tr],
                                          index=data.columns),
                                pd.Series([cur_id, "Cash", "Sales ledger", "01/01/2017", tr, 0.0],
                                          index=data.columns)]
                               , ignore_index=True)
            cur_id += 1
            data = data.append(
                [pd.Series([cur_id, "Revenue", "Sales ledger", "01/01/2017", 0.0, 0.0], index=data.columns),
                 pd.Series([cur_id, "Tax", "Sales ledger", "01/01/2017", 0.0, 0.0], index=data.columns),
                 pd.Series([cur_id, "Trade Receivables", "Sales ledger", "01/01/2017", 0.0, 0.0],
                           index=data.columns)]
                , ignore_index=True)
            cur_id += 1
            data = data.append([pd.Series([cur_id, "Trade Receivables", "Sales ledger", "01/01/2017", 0.0, 0.0],
                                          index=data.columns),
                                pd.Series([cur_id, "Cash", "Sales ledger", "01/01/2017", 0.0, 0.0],
                                          index=data.columns)]
                               , ignore_index=True)
            cur_id += 1

    return data

In [ ]:
from NetEmbs.DataProcessing import *
zer = prepare_data(zerosData(), split=False, unique=False)
zer

In [ ]:
import networkx as nx
from NetEmbs.CONFIG import LOG
import logging
from NetEmbs import*
fsn = FSN()
fsn.build(prepare_data(zer, split=False))

In [ ]:
fsn.edges(data=True)

In [ ]:
from NetEmbs.Vis import *
plotFSN(fsn)

In [ ]:
from NetEmbs.FSN import *
[step(fsn, 0, "OUT") for _ in range(10)]